@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
		font-family: 'DotGothic16', sans-serif;
}

body{
	background: #323232;
}

.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
    padding: 1.5rem 7%;
	background: #fff;
	position: fixed;
}

img{
	height: 100px;
	border-radius: 100%;
}

a{
	list-style: none;
	text-decoration: none;
	margin-left: 20px;
	color: #323232;
	transition: 0.1s;
}

a:hover{
	font-size: 100px;
 border-bottom: .2rem solid black ;
}

h1{
	font-family: 'DotGothic16', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 50px;
}

